<footer>
  <div class="fcontainer">
    <div class="footer-col">
      <h2>MedLink Doctor</h2>
      <p class="footer-para">
        Doctor panel for managing appointments, slots, and patient care.
      </p>
    </div>
    <div class="footer-col">
      <h3>
        Doctor Menu
        <div class="underline"><span></span></div>
      </h3>
      <ul>
        <li><a href="/api/doctors/profile">Doctor Dashboard</a></li>
        <li><a href="#" onclick="showSection('slots')">Manage Slots</a></li>
        <li><a href="/doctorProfile">Profile</a></li>
        <li><a href="/api/doctors/logout">Logout</a></li>
      </ul>
    </div>
    <div class="footer-col">
      <h3>
        Newsletter
        <div class="underline"><span></span></div>
      </h3>
      <form action="">
        <i class="fa-solid fa-envelope"></i>
        <input type="text" placeholder="Enter Email" />
        <a href=""><i class="fa-solid fa-arrow-right"></i></a>
      </form>
      <div class="social-icons">
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
        <a href="#"><i class="fa-brands fa-google-plus"></i></a>
      </div>
    </div>
  </div>
</footer>
